<h1>Add new restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
      <%= f.input :name %>
      <%= f.input :street %>
      <%= f.input :tags, placeholder: 'what kind of cousine is it?' %>
      <small id="emailHelp" class="form-text text-muted">Type tags separated by comma.</small>
      <p>
      <%= f.association :city, as: :select %>
      </p>
<p>
  <%= f.submit class: 'btn btn-primary' %>
</p>
<% end %>
