<h1>Add new restaurant</h1>

<%= form_for @restaurant do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :street %>
      <br>
      <%= f.text_field :street, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <br>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
<p>
  <%= f.submit class: 'btn btn-primary' %>
</p>
<% end %>
