<h2><%= @restaurant.name %>
  <% unless @restaurant.favourites_by.include?(current_user) %>
    <%= link_to(favourites_restaurant_path(@restaurant), method: :post) do %>
      <%= icon('far', 'heart', base: "circle", class: "fa-x", style: "color:#fc8e28") %>
    <% end %>
  <% else %>
    <%= link_to(favourites_restaurant_path(@restaurant), method: :delete) do %>
      <%= icon('fas', 'heart', base: "circle", class: "fa-x", style: "color:#fc8e28") %>
    <% end %>
  <% end %>
</h2>

  <% if @restaurant.image.attachment.present? %>
    <%= image_tag @restaurant.image, class: 'img-fluid' %>
  <% end %>
<p>
  <strong>Address:</strong>
  <br>
  <%= @restaurant.street %>
  <br>
  <%= @restaurant.city.name %>
  <br>
  <strong>Tags:</strong>
  <span class="badge badge-pill badge-warning"><%= @restaurant.tags.join(', ') %></span>
</p>

<br>

<%= link_to 'Back', restaurants_path, class: 'btn btn-warning' %>
<% if @restaurant.user == current_user %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-warning' %>
<% end %>