<h2><%= @restaurant.name %></h2>

<p>
  <strong>Address:</strong>
  <br>
  <%= @restaurant.street %>
  <br>
  <%= @restaurant.city.name %>
</p>

<% unless @restaurant.favourites_by.include?(current_user) %>
  <%= link_to(favourites_restaurant_path(@restaurant), method: :post) do %>
    <%= icon('far', 'heart', base: "circle", class: "fa-2x") %>
  <% end %>
<% else %>
  <%= link_to(favourites_restaurant_path(@restaurant), method: :delete) do %>
    <%= icon('fas', 'heart', base: "circle", class: "fa-2x") %>
  <% end %>
<% end %>


<%= link_to 'Back', restaurants_path, class: 'btn btn-secondary' %>