<!DOCTYPE html>
<html>
  <head>
    <title>Where To Eat?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #fd7e14;">  
      <%= link_to 'Restaurants', root_path, class: 'navbar-brand'%>
      <span class="navbar-text">
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
        <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-link' %>
        <% end %>
      </span>
    </nav>
    <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>

